.buttons {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.buttons button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    font-family: "Finlandica, sans-serif";
    font-weight: 500;
}